@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: poppins, sans-serif;
} 
#header{
  background: #FFDCD8;
  height: 100vh;
  position: relative;
}
.container {
  max-width: 1010px;
  margin: 0px auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  margin: auto;
  align-items: center;
}
.navbar a img{
  position: relative;
  z-index: 1;
}
.navbar-nav {
  display: flex;
  gap: 30px;
  align-items: center;
}
.navbar-nav li {
  list-style: none;
  font-weight: 400;
  font-size: 18px;
}
.navbar-nav li a{
  color: black;
}
.fa-angle-up{ 
    font-size: 18px;
    
}
.navbar-nav li:hover a{
    color: #FF5538;
    font-weight: 500;
}
.nav-button{
    width: 146px;
    height: 50px;
    border:none;
    border-radius: 15px;
    background: #FF5538;
    color: white;
    font-size: 16px;
}
.nav-button:hover{
    width: 146px;
    height: 50px;
    border:1px solid #FF5538;
    background: white;
    color: #FF5538;
    font-size: 18px;
    font-weight: 600;
}

.navlink{
  position: relative;
}
.sub-navbar {
  position: absolute;
  visibility: hidden;
  width: max-content;
  height: 0px;
  gap: 8px;
  transform: translateY(0%);
  transition: .1s;
  border-radius: 5px;
  /* border: 1px solid rgb(255, 73, 73); 
  box-shadow: 0px 0px 5px 2px #f09383;  */
  
}
  .sub-navbar li{
    opacity: 0;
  }
.navlink:hover .sub-navbar{
visibility:visible;
color: black;
padding: 10px;
display: flex;
flex-direction: column;
height: max-content;
transform: translateY(10%);

}
.navlink:hover .sub-navbar li{
  opacity: 1;
}


.navlink:hover .fa-angle-up{
rotate: 180deg; 
transition-duration: .2s;
}
.navlink:hover .sub-navbar{
  background: #FFABBA; 
  
}


/* ===================Navbar Complete================= */

.banner__heading{
  margin: 100px auto 24px; 
  text-align: center;
  padding-bottom: 2%;
  line-height: 130%;
  font-weight: 600;
  font-size: 64px;
  max-width: 770px; 
  position: sticky;
  z-index: 1;
}
.banner__peragraph{
  text-align: center;
  margin: 0px auto 40px ;
  line-height: 200%;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  max-width: 547px;
  position: sticky;
}
.banner__buttons{
  display: flex;
  justify-content: center;
  gap: 24px; 
  margin-bottom: 100px;
}
.banner__contact__btn, .banner__showcase__btn{
  width: 146px;
  height: 50px;
  border:none;
  border-radius: 15px;
  background: #FF5538;
  color: white;
  font-size: 17px;
}
.banner__contact__btn:hover{
  width: 146px;
  height: 50px;
  border:1px solid #FF5538;
  background: white;
  color: #FF5538;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 1px 2px 7px #FF5538;
  transition-duration: inherit;
}
.banner__showcase__btn{
  width: 146px;
  height: 50px;
  border:1px solid #FF5538;
  background: white;
  color: #FF5538;
  font-size: 17px;

}
.banner__showcase__btn:hover{
  width: 146px;
  height: 50px;
  border:none;
  border-radius: 15px;
  background: #FF5538;
  color: white;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 1px 2px 7px #FF5538;
}


.nav-button, .banner__showcase__btn, .banner__contact__btn:hover{
  transition: .3s;
  transition-timing-function: linear;
  transform-origin: bottom;
}
/* ===============background shapes================ */
.left-top-circle{
  position: absolute;
  left: 0;
  top: 0;
  max-width: 300px
}
.left-snake-shape{
  position: absolute;
  max-width: 450px;
  top: 28%;
}

.left_small_circle{
  position: absolute;
  top: 57%;
  left: 8%; 
  width: 100px;
}
.cross_image{
  position: absolute;
  top: 25%; 
  left: 25%;   
}
.cross_image .cross1{
  rotate: 90deg;
  position: absolute;
  left: px;
  top: 0px; 
}
.cross2{
  position: absolute;
  left: 0px;
}
.rotating_circle{
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid #FFABBA;
  left: 33%;
  top: 19%; 
  border-radius: 50%;
  animation-name: rotating_circle;
  animation-duration: 10s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
.rotating_circle .cir{
  position: absolute;
  top: 9px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #FFABBA;
  border-radius: 50%;
  box-shadow: 1px 1px 7px #FFABBA;
}
@keyframes rotating_circle {
  0%{
   rotate: 0deg;
  }
  100%{
    rotate: 360deg;
  } 
}
.right-snake-shape{
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 400px; 
}
.right-cross-icon{
  position: absolute;
  right: 28%;
  top: 60%;  
}
.poster{
  display: flex;
  position:absolute;
  bottom: -50px; 
  z-index: 2;
  justify-content: center;
  width: 100%;
  gap: 10px; 
} 
.poster1{
  min-width: 200px; 
  height: 150px;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}